.back{
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 0 0 0;
  cursor: pointer;
}

.wrapper{
  display: flex;
  justify-content: center;
}

.task-wrapper{
  width: 50%;
}

.task-wrapper div{
  padding: 0 0 5px 0;
}
