<div class="wrapper">
  <div class="task-wrapper">
    <div (click)="editTask()">
      <span>Name: </span>
      <span [hidden]="editTaskStatus">{{ name }}</span>
      <input
        #editTaskInput
        [hidden]="!editTaskStatus"
        (blur)="blurTask()"
        class="edit-task-input"
        value="{{name}}"
      >
    </div>

    <div *ngIf="tags">
      <span>Tags: </span>
      <span>{{tags}}</span>
    </div>

    <div *ngIf="actualEffort">
      <span>Actual effort: </span>
      <span>{{actualEffort}}</span>
    </div>

    <div *ngIf="estimatedEffort">
      <span>Estimated effort: </span>
      <span>{{ estimatedEffort}}</span>
    </div>

    <div *ngIf="description">
      <span>Description: </span>
      <span>{{ description}}</span>
    </div>

    <div *ngIf="dueDate">
      <span>Due date: </span>
      <span>{{ dueDate | date: 'dd.MM.yyyy hh:mm'}}</span>
    </div>

    <button class="back" [routerLink]="['/']">Back</button>
  </div>
</div>
