<div class="task-list">

  <div class="tasks">
    <table class="tasks-list-table" cellspacing="0">
      <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Actual effort</th>
        <th>Estimated effort</th>
        <th>Due date</th>
      </tr>
      <tr
        *ngFor="let task of tasks"
        [ngClass]="{'bold' : task.is_high_priority === true}"
        [routerLink]="['/task', task.id, task.name]"
        [queryParams]="{tags: task.tags,
                        actual_effort: task.actual_effort,
                        estimated_effort: task.estimated_effort,
                        due_date: task.due_date,
                        description: task.description}"
      >
        <td>{{ task.name }}</td>
        <td>{{ task.tags }}</td>
        <td>{{ task.actual_effort }}</td>
        <td>{{ task.estimated_effort }}</td>
        <td>{{ task.due_date | date: 'dd.MM.yyyy hh:mm' }}</td>
      </tr>
    </table>
  </div>
</div>
