.task-list{
  display: flex;
  justify-content: center;
}

.tasks-list-table{
  border: 1px solid #cccccc;
  border-bottom: 0;
}

.tasks-list-table td, .tasks-list-table th{
  padding: 5px 10px;
  margin: 5px 10px;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}

.tasks-list-table td:first-child, .tasks-list-table th:first-child{
  text-align: left;
}

.tasks-list-table td{
  cursor: pointer;
}

.bold{
  font-weight: bold;
}
